<form method="post" action="{{ path('app_type_chaine_delete', {'id': type_chaine.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cette type de chaine?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_chaine.id) }}">
    <button class="w-100 mb-2 btn btn-lg rounded-4 btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
</form>
